# Pix Bus Pins
set_io phi2     A2  # Pin 1
set_io pix[0]   A1  # Pin 2
set_io pix[1]   B1  # Pin 3
set_io pix[2]   C2  # Pin 4
set_io pix[3]   C1  # Pin 5

# Onboard LED
set_io led      B3

# Onboard 16MHz clock
set_io clk      B2

# Audio Output (Pin 14)
set_io audio_out H9